.gameHolder{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90vw;
    height: 30%;
    background-color: aliceblue;
    height: 80vh; /*vh correspond à l'unité de la taille de l'écran*/
}

.voiture{
    width: 10vh;
    transition: transform 100ms linear;
    position: absolute;
    z-index: 2;
    transform: translate(100px,10px);
}

.cartoonBean{
    z-index: 1;
    width: 5vh;
    position: absolute;
}

#ecranDeMort{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90vw;
    height: 80vh; /*vh correspond à l'unité de la taille de l'écran*/
    background-color: rgb(187, 76, 76);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}